---
import { getCollection, getEntry } from "astro:content";
import ThingMatterMost from "./ThingMatterMost";
const thingsMatterMost = await getCollection("thingsMatterMost");
---

<section class="max-w-7xl mx-auto">
  <h3 class="font-bold text-xl">some meaningful things</h3>
  <div class="flex items-center mt-5 gap-5">
    {
      thingsMatterMost.map((thing, i) => (
        <ThingMatterMost idx={i} thing={thing.data} client:load />
      ))
    }
  </div>
</section>
